<?xml version="1.0" encoding="UTF-8"?>
<web-app id="SSE Sample" version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>movement</servlet-name>
        <servlet-class>sse.es.MovementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>movement</servlet-name>
        <url-pattern>/sse/movement</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>continuation</filter-name>
        <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>continuation</filter-name>
        <url-pattern>/sse/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
